body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(tetris_bg_texture.jpg);
    color: white;
    padding: auto;
}

#player1 {
    display: inline-block;
    padding: 0;
}

#player2 {
    display: inline-block;
    padding: 0;
}

#canvasP1 {
    display: inline-block;
    background: url(texture.jpg);
    border: 2px solid #333;
    opacity: 0.8;
}

#canvasP2 {
    display: inline-block;
    background: url(texture.jpg);
    border: 2px solid #333;
    opacity: 0.8;
}

#menu {
    display: inline-block;
}

#menu p {
    margin: 0.5em 0;
    text-align: center;
}

#menu p a {
    text-decoration: none;
}

#avatarP1 {
    background: url(491783307904.jpg);
}

#avatarP2 {
    background: url(porenta.gif);
}

#avatarP1,
#avatarP2 {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    background-size: contain;
    height: 10vw;
    width: 10vw;
}

#upcomingP1,
#upcomingP2 {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    background: url(next.png);
    background-size: contain;
    height: 12vw;
    width: 12vw;
}

#holdP1,
#holdP2 {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    background: url(hold.png);
    background-size: contain;
    height: 12vw;
    width: 12vw;
}

#nameP1 {
    color: blue;
    font-weight: bold;
    vertical-align: middle;
}

#nameP2 {
    color: purple;
    font-weight: bold;
    vertical-align: middle;
}

#scoreP1 {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#scoreP2 {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#connGP_P1 {
    color: white;
    font-weight: bold;
    vertical-align: middle;
    visibility: hidden;
}

#connGP_P2 {
    color: white;
    font-weight: bold;
    vertical-align: middle;
    visibility: hidden;
}

#winsP1 {
    display: block;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#winsP2 {
    display: block;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#rowsP1 {
    display: block;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#rowsP2 {
    display: block;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#endP1 {
    display: block;
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#endP2 {
    display: block;
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#stats {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#outer {
    width: 100%;
    text-align: center;
}

#inner {
    display: inline-block;
}

#canvasP1,
#canvasP2 {
    width: 45vh;
    height: 90vh;
}

#menu {
    width: 200px;
}

#player1,
#player2 {
    font-size: 1.0vw;
}

.message {
    font-size: 2em;
}