body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(img/backgrounds/ocean.jpg);
    padding: auto;
}

#player1, #player2 {
    display: inline-block;
    padding: 0;
    font-size: 1.0vw;
}

#canvasP1, #canvasP2 {
    display: inline-block;
    background: #01093a;
    border: 2px solid #333;
    opacity: 0.8;
    width: 45vh;
    height: 90vh;
    margin-top: 5vh;
}

.hud {
    display: inline-block;
    width: 20vh;
    height: 90vh;
    margin-top: 5vh;
    vertical-align: top;
    opacity: 0.8;
}

.hud div, .hud canvas {
    margin-bottom: 5vh;
    text-align: center;
    width: 15vh;
    display: inline-block;
}

a {
    text-decoration: none;
}

#upcomingP1, #upcomingP2 {
    background: url(img/next.png);
    background-size: contain;
    height: 15vh;
}

#holdP1, #holdP2 {
    background: url(img/hold.png);
    background-size: contain;
    height: 15vh;
}

#nameP1, #nameP2 {
    font-weight: bold;
}

#nameP2 {
    color: purple;
}

#nameP1 {
    color: blue;
}

#scoreP1, #scoreP2 {
    color: white;
    font-weight: bold;
}

#winsP1, #winsP2 {
    color: white;
    font-weight: bold;
}

#rowsP1, #rowsP2 {
    color: white;
    font-weight: bold;
}

#endP1, #endP2 {
    display: block;
    color: red;
    font-weight: bold;
}

#stats {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#outer {
    width: 100%;
    text-align: center;
}

body, #inner, #outer {
    padding: 0;
    margin: 0;
}

#inner {
    display: inline-block;
}

.message {
    font-size: 2em;
}