body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(img/backgrounds/ocean.jpg);
    padding: auto;
}

.hud {
    display: inline-block;
    width: 20vh;
    height: 90vh;
    margin-top: 5vh;
    vertical-align: top;
    opacity: 0.8;
    background-color: rgba(0,0,0,0.5);
}

#seperator {
    display: inline-block;
    width: 5vh;
}

.hud div, .hud canvas {
    margin-bottom: 5vh;
    text-align: center;
    width: 15vh;
    display: inline-block;
}

a {
    text-decoration: none;
}

.hold {
    background: url(img/hold.png);
    background-size: contain;
    height: 15vh;
}

#stats {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#outer {
    width: 100%;
    text-align: center;
}

body, #inner, #outer {
    padding: 0;
    margin: 0;
}

#inner {
    display: inline-block;
}